<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> 배신자 현상수배 </title>
	<script>
		alert("완숙한 배신의 초절정 송원준 당신의 출입을 금하노라")
	</script>
</head>
<body>
	<input type="text" value="Your name">
	<button> check </button> <br>
	<input type="text" value="Your age">
	<button> check </button> <br>
	<p>Will you betray me?</p>
	<input type="radio" name="respond" value="Yes"> Yes <br>
	<input type="radio" name="respond" value="No"> No <br>
	<button> check </button> <br>
	<h1> 현상수배 </h1>
	<img src = "/static/험멜.jpg" alt = "배신자">
</body>
</html>